<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacations System</title>
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div id="welcome">
        <h1>Welcome <%=name%> <%=surname%> </h1>
    </div>
    <div id="data">
        <h2><b>NAME : </b></b><%= name%></h2>
        <h2><b>SURNAME : </b><%= surname%></h2>
        <h2><b>USER KEY : </b><%= userKey%></h2>
        <h2><b>ANTIQUITY : </b><%= antiquity%></h2>

        <h2>VACATIONS: <%= vacations%></h2>
    </div>

</body>

</html>